{% load cache %}
<div class="accordion" role="tablist" id="accordion-1">
    {% for x in operations %}
    {% cache None accordion x %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{forloop.counter}}"
                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                aria-controls="collapse{{forloop.counter}}">
                <strong
                    >{%if x.refunded %}✅{% else %}❌{% endif %} {{x.name}} | <span style="color: {% if x.amount < 0 %}red;{% elif x.amount > 0 %}green;{% else %}blue;{% endif %}">{% if x.amount > 0 %}+{% endif %}{{x.amount}} €</span></strong>
            </button>
        </h2>
        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse"
            data-bs-parent="#accordion-1">
            <div class="accordion-body">
                <strong>Nom :</strong> {{x.name}}<br>
                {% if x.description != None %} 
                <strong>Description :</strong> {{x.description}}<br>
                {% endif %}
                <strong>Montant :</strong> {% if x.amount > 0 %}+{% endif %}{{x.amount}} €<br>
                {% if x.category %}
                <strong>Catégorie :</strong> {{ x.category.name }}<br>
                {% endif %}
                <strong>Date :</strong> {{x.date}}<br>
                {% if x.refunded != None %}
                <strong>Remboursement :</strong> {{x.refunded}}
                {% else %}
                <strong>Remboursement :</strong> Non remboursé
                {% endif %}
            </div>
        </div>
    </div>
    {% endcache %}
    {% endfor %}
</div>
