{% extends "master.html" %}
{% load static %}
{% load mathfilters %}


{% block title %}
Note de Frais
{% endblock %}


{% block content %}
{% if alert %}
<section style="margin-top: 15px;margin-left: 20px;margin-right: 20px;">
    <div class="alert alert-success alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span><strong>Le remboursement a bien été effectué à la date du {{date_of_refund}}.&nbsp;</strong></span></div>
</section>
{% endif %}
<section>
    <div class="container-fluid" style="margin-top: 20px;padding-left: 35px;padding-right: 35px;">
        <div class="row" style="margin-top: 1px;">
            <div class="col-md-4 text-center"
                style="margin-top: 10px;margin-bottom: 10px;border-right: 3px none rgb(140,149,157) ;">
                <h1 style="font-size: 35px;font-weight: bold;margin-bottom: 20px;text-decoration:  underline;">Total :
                </h1>
                <h1
                    style="margin-bottom: 20px;font-size: 35px; color: {% if total < 0 %}red;{% elif total > 0 %}green;{% else %}blue;{% endif %}">
                    {% if total > 0 %}+{% endif %}{{total}} €</h1>
                <div class="text-center d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center"
                    style="width: 100%;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center" style="width: 40%;border-top: 1px solid var(--bs-body-color);"></div>
                </div>
                <div class="form-check text-start d-md-flex justify-content-md-center align-items-md-center">
                    <form hx-post="{% url 'change_filter' %}" hx-target="#accordion-div" method="POST">
                    {% csrf_token %}
                    <input
                    hx-post='{% url "change_filter"%}' hx-target="#accordion-div" class="form-check-input" type="checkbox" id="formCheck-1" checked="" name="only_refunded">
                        <label class="form-check-label" for="formCheck-1" style="margin-left: 6px;">Afficher uniquement les dépenses non-remboursées</label>
                        </form>
                </div>
                <div class="text-center d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center"
                    style="width: 100%;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center" style="width: 40%;border-top: 1px solid var(--bs-body-color);"></div>
                </div><button class="btn btn-primary shadow{% if total == 0%} disabled{% endif %}" type="button"
                    title="Toutes les dépenses actuellement non-remboursées seront marquées comme remboursées"
                    style="border-radius: 50px;margin-top: 7px;" data-bs-target="#modal-1"
                    data-bs-toggle="modal">Effectuer un remboursement</button>
            </div>
            <div class="col-md-8" style="margin-top: 10px;margin-bottom: 10px;">
                <h1 class="fw-normal" style="font-size: 25px;text-align: left;margin-bottom: 15px;">Liste des opérations
                    :</h1>
                    <div id="accordion-div">
                        {% include "accordion.html" %}
                    </div>
                
            </div>
        </div>
    </div>
</section>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Effectuer un remboursement</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir marquer toutes les dépenses comme remboursées ?</p>
                {% if total < 0 %}
                <h1 class="text-center" style="font-size: 20px;">Montant total remboursé : {{total|abs}} €</h1>
                <h1 class="text-center" style="font-size: 20px;">Date d'exécution : {% now "d/m/Y" %}</h1>
                {% else %}
                <h1 class="text-center" style="font-size: 18px;">Le solde total actuel indique que vous êtes en positif et que vous n'avez rien à rembourser. Êtes-vous sûr de vouloir valider un remboursement, ce qui remettra le solde à 0 € ?</h1>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Annuler</button>
                <form hx-post="{% url 'mark_as_refunded' %}" hx-target="body" method="POST">
                    {% csrf_token %}
                    <button hx-post='{% url "mark_as_refunded"%}' hx-target="body" type="submit" class="btn btn-primary">Marquer comme remboursé</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}