{% extends "master.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
Note de Frais
{% endblock %}


{% block content %}
<section>
    <div class="container-fluid shadow d-flex d-md-flex justify-content-start justify-content-md-center align-items-md-center"
        style="padding-top: 10px;padding-bottom: 5px;padding-left: 12px;">
        <h1 class="text-center wobble animated"
            style="font-size: 35px;margin-left: 14px;margin-top: -8px;margin-right: 14px;"><span
                style="color: rgb(51, 51, 51);">💶</span></h1>
        <h1 class="fw-normal" style="font-size: 27px;">Note de frais</h1>
        <div class="col text-end">
            <div class="theme-switcher dropdown"><button class="btn btn-link dropdown-toggle" aria-expanded="false"
                    data-bs-toggle="dropdown" type="button" style="color: var(--bs-body-color);"><svg
                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-sun-fill mb-1">
                        <path
                            d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                        </path>
                    </svg></button>
                <div class="dropdown-menu"><a class="dropdown-item d-flex align-items-center" href="#"
                        data-bs-theme-value="light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill opacity-50 me-2">
                            <path
                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                            </path>
                        </svg>Light</a><a class="dropdown-item d-flex align-items-center" href="#"
                        data-bs-theme-value="dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-moon-stars-fill opacity-50 me-2">
                            <path
                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
                            </path>
                            <path
                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z">
                            </path>
                        </svg>Dark</a><a class="dropdown-item d-flex align-items-center" href="#"
                        data-bs-theme-value="auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-circle-half opacity-50 me-2">
                            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                        </svg>Auto</a></div>
            </div>
        </div>
    </div>
</section>
{% if alert %}
<section style="margin-top: 15px;margin-left: 20px;margin-right: 20px;">
    <div class="alert alert-success alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span><strong>Le remboursement a bien été effectué à la date du {{date_of_refund}}.&nbsp;</strong></span></div>
</section>
{% endif %}
<section>
    <div class="container-fluid" style="margin-top: 20px;padding-left: 35px;padding-right: 35px;">
        <div class="row" style="margin-top: 1px;">
            <div class="col-md-4 text-center"
                style="margin-top: 10px;margin-bottom: 10px;border-right: 3px none rgb(140,149,157) ;">
                <h1 style="font-size: 35px;font-weight: bold;margin-bottom: 20px;text-decoration:  underline;">Total :
                </h1>
                <h1
                    style="margin-bottom: 20px;font-size: 35px; color: {% if total < 0 %}red;{% elif total > 0 %}green;{% else %}blue;{% endif %}">
                    {% if total > 0 %}+{% endif %}{{total}} €</h1>
                <div class="text-center d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center"
                    style="width: 100%;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center" style="width: 40%;border-top: 1px solid var(--bs-body-color);"></div>
                </div>
                <div class="form-check text-start d-md-flex justify-content-md-center align-items-md-center"><input
                        class="form-check-input" type="checkbox" id="formCheck-1" checked="" name="only_refunded"><label
                        class="form-check-label" for="formCheck-1" style="margin-left: 6px;">Afficher uniquement les
                        dépenses non-remboursées</label></div>
                <div class="text-center d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center"
                    style="width: 100%;margin-top: 20px;margin-bottom: 20px;">
                    <div class="text-center" style="width: 40%;border-top: 1px solid var(--bs-body-color);"></div>
                </div><button class="btn btn-primary shadow{% if total == 0%} disabled{% endif %}" type="button"
                    title="Toutes les dépenses actuellement non-remboursées seront marquées comme remboursées"
                    style="border-radius: 50px;margin-top: 7px;" data-bs-target="#modal-1"
                    data-bs-toggle="modal">Effectuer un remboursement</button>
            </div>
            <div class="col-md-8" style="margin-top: 10px;margin-bottom: 10px;">
                <h1 class="fw-normal" style="font-size: 25px;text-align: left;margin-bottom: 15px;">Liste des opérations
                    :</h1>
                <div class="accordion" role="tablist" id="accordion-1">
                    {% for x in operations %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{forloop.counter}}"
                                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                aria-controls="collapse{{forloop.counter}}">
                                <strong
                                    >{%if x.refunded %}✅{% else %}❌{% endif %} {{x.name}} | <span style="color: {% if x.amount < 0 %}red;{% elif x.amount > 0 %}green;{% else %}blue;{% endif %}">{% if x.amount > 0 %}+{% endif %}{{x.amount}} €</span></strong>
                            </button>
                        </h2>
                        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <strong>Nom :</strong> {{x.name}}<br>
                                {% if x.description != None %} 
                                <strong>Description :</strong> {{x.description}}<br>
                                {% endif %}
                                <strong>Montant :</strong> {% if x.amount > 0 %}+{% endif %}{{x.amount}} €<br>
                                {% if x.category %}
                                <strong>Catégorie :</strong> {{ x.category.name }}<br>
                                {% endif %}
                                <strong>Date :</strong> {{x.date}}<br>
                                {% if x.refunded != None %}
                                <strong>Remboursement :</strong> {{x.refunded}}
                                {% else %}
                                <strong>Remboursement :</strong> Non remboursé
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Effectuer un remboursement</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir marquer toutes les dépenses comme remboursées ?</p>
                {% if total < 0 %}
                <h1 class="text-center" style="font-size: 20px;">Montant total remboursé : {{total|abs}} €</h1>
                <h1 class="text-center" style="font-size: 20px;">Date d'exécution : {% now "d/m/Y" %}</h1>
                {% else %}
                <h1 class="text-center" style="font-size: 18px;">Le solde total actuel indique que vous êtes en positif et que vous n'avez rien à rembourser. Êtes-vous sûr de vouloir valider un remboursement, ce qui remettra le solde à 0 € ?</h1>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Annuler</button>
                <form hx-post="{% url 'mark_as_refunded' %}" hx-target="body" method="POST">
                    {% csrf_token %}
                    <button hx-post='{% url "mark_as_refunded"%}' hx-target="body" type="submit" class="btn btn-primary">Marquer comme remboursé</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="text-center" style="position: absolute;bottom: 0;width: 100%;">
    <h1 class="fw-lighter" style="font-style: italic;font-size: 15px;margin-bottom: 15px;">Thomas CHAVOT</h1>
</footer>
{% endblock %}